{% extends "index.html" %}
{% block body %}

			<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="#">主页</a>
							</li>

							<li>
								<a href="#">账号信息</a>
							</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">


						<div class="row">
							<div class="col-xs-12">
                                <div class="row">
									<div class="col-xs-12">
										<h3 class="header smaller lighter blue"></h3>
										<div class="table-header">
											账号信息列表
										</div>

										<div class="table-responsive">
											<table id="sample-table-2" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">
															<label>
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</th>

														<th>用户名</th>
														<th>邮箱</th>

                                                        	<th>
															<i class="icon-time bigger-110 hidden-480"></i>创建时间
														</th>
														<th class="hidden-480">年龄</th>

														<th>

															性别
														</th>
														<th class="hidden-480">手机</th>

														<th>住址</th>
                                                        <th>账号状态</th>
                                                        <th>操作</th>
													</tr>
												</thead>

												<tbody>

                                                {% for u in users %}



													<tr>
														<td class="center">
															<label>
																<input type="checkbox" class="ace" />
																<span class="lbl"></span>
															</label>
														</td>

														<td>



															<a href="viewUser/{{ u.id }}">{{u.username}}</a>
														</td>
														<td>{{u.email}}</td>
                                                        <td>{{u.createtime}}</td>
														<td class="hidden-480">{{u.age}}</td>


														<td class="hidden-480">

                                                            {% if u.sex  ==1  %}
                                                                男
                                                            {% else %}
                                                                女
                                                             {% endif %}


														</td>
                                                        <td>{{u.tel}}</td>
                                                         <td>{{u.address}}</td>

                                                    <td>



                                                            {% if u.status  ==0  %}
                                                                正常
                                                            {% elif u.status==1 %}
                                                                正在审核
                                                             {% elif u.status==2 %}
                                                                冻结
                                                             {% elif u.status==3 %}
                                                               删除
                                                             {% endif %}
														</td>

														<td>
															<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
																<a class="blue" href="viewUser/{{ u.id }}">
																	<i class="icon-zoom-in bigger-130"></i>
																</a>
																<a class="red"  id="{{ u.id }}" name="del" href="#">
																	<i class="icon-trash bigger-130"></i>
																</a>
															</div>

															<div class="visible-xs visible-sm hidden-md hidden-lg">
																<div class="inline position-relative">
																	<button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
																		<i class="icon-caret-down icon-only bigger-120"></i>
																	</button>

																	<ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
																		<li>
																			<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
																				<span class="blue">
																					<i class="icon-zoom-in bigger-120"></i>
																				</span>
																			</a>
																		</li>

																		<li>
																			<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
																			</a>
																		</li>

																		<li>
																			<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
																			</a>
																		</li>
																	</ul>
																</div>
															</div>
														</td>
													</tr>
 {% endfor %}

												</tbody>
											</table>
										</div>
									</div>
								</div>


							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->




		<!-- basic scripts -->

		<!--[if !IE]> -->



		<!-- <![endif]-->



		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='../static/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='../static/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='../static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="../static/js/bootstrap.min.js"></script>
		<script src="../static/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="../static/js/excanvas.min.js"></script>
		<![endif]-->

		<script src="../static/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../static/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../static/js/jquery.gritter.min.js"></script>
		<script src="../static/js/bootbox.min.js"></script>
		<script src="../static/js/jquery.slimscroll.min.js"></script>
		<script src="../static/js/jquery.easy-pie-chart.min.js"></script>
		<script src="../static/js/jquery.hotkeys.min.js"></script>
		<script src="../static/js/bootstrap-wysiwyg.min.js"></script>
		<script src="../static/js/select2.min.js"></script>
		<script src="../static/js/date-time/bootstrap-datepicker.min.js"></script>
		<script src="../static/js/fuelux/fuelux.spinner.min.js"></script>
		<script src="../static/js/x-editable/bootstrap-editable.min.js"></script>
		<script src="../static/js/x-editable/ace-editable.min.js"></script>
		<script src="../static/js/jquery.maskedinput.min.js"></script>

		<!-- ace scripts -->

		<script src="../static/js/ace-elements.min.js"></script>
		<script src="../static/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
      <script type="text/javascript">
          $("a").click(function(){
              name=$(this).attr('name')
              id=$(this).attr('id')
              if("del"==name){
                   layer.confirm('确定要删除该账号吗？', {
                    btn: ['确定','取消'] //按钮
                   }, function(){
                    $.ajax({
                          type:"GET",                      //请求类型
                          url:"deleteUser?id="+id,           //URL
                          dataType:"json",                 //返回的数据类型
                          success:function(data){          //data就是返回的json类型的数据
                            if(data.mess == "true"){
                               layer.msg('删除成功', {icon: 1});
                                window.location.reload();
                            }else if(data.mess == "false"){
                                layer.msg('删除失败', {icon: 1});
                            }
                          },
                        error:function(data){
                            layer.msg('删除失败', {icon: 1});
                    }
                });
                   }, function(index){
                        layer.close(index);
                   });
              }

         });



			jQuery(function($) {
				var oTable1 = $('#sample-table-2').dataTable( {
				"aoColumns": [
			      { "bSortable": false },
			      null, null,null, null, null,
				  { "bSortable": false }
				] } );


				$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});

				});


				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();

					var off2 = $source.offset();
					var w2 = $source.width();

					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}
			})
		</script>

	<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
{% endblock %}